/*VARIABLES DE LOS COLORES PRINCIPALES*/
:root{
    --primary-color: rgb(44, 49, 44);
    --secundary-color: rgb(19, 219, 39);
}

/*ESTILOS PARA EL HTML Y BODY*/
html{
    font-family: Helvetica,sans-serif;
}

html *{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    width: 100%;
    grid-template-areas: "head head"
                       "main  section";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 1fr;
    scroll-behavior: smooth;
    
}

/*ESTILOS PARA LA CABEZERA Y TITULOS*/
header{
    grid-area: head;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-carrito{
    display: none;
}

h1{
    color: white;
    text-align: center;
    margin: 0;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}
/*ESTILOS PARA CARDS DE PRODUCTOS*/
.card{
    background-color: white;
    width: 250px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.88); 
     box-shadow: 10px 10px 9px -4px rgba(0,0,0,0.88);
     transition: all ease .5s;

}

.card:hover{
    transform: scale(1.1);
}

.card *{
    margin: 0;
    padding: 0;
}

.card img{
    border-radius: 10px 10px 0 0;
    width: 200px;
    height: 200px;
}

.card h4{
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 10px;
    height: 40px;
}

.card .btn-agregar{
    display: block;
    background-color: var(--primary-color);
    color: white;
    letter-spacing: 1px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.card .btn-agregar:hover{
    background-color: var(--secundary-color);
}

.card .descripcion{
    height: 80px;
    color: #373434;
    margin-top: 5px;
    width: 90%;
}

#precio{
    text-align: center;
    margin-top: 5px;
    height: 30px;
}

#precio::before{
    content: "$";
}

#precio{
    font-size: large;
    height: 30px;
}

/*ESTILOS PARA EL CONTENEDOR DE PRODUCTOS*/

.contenedor-productos{
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    flex-wrap: wrap;
}

main{
    grid-area: main;
    width: 100%;
    display: inline-block;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*ESTILOS PARA EL CARRITO*/
section{
    grid-area: section;
    display: inline-block;
    background-color: white;
    margin: 0;
    padding: 0;
}

th{
    font-size: 25px;
}

td{
    font-size: 20px;
    margin-bottom: 5px;
}


.col-1{
    width: 10%;
}

.col-2{
    width: 50%;
    padding-left: 10px;
}

.col-3{
    width: 20%;
}

.col-4{
    width: 10%;
    text-align: center;
}

.col-5{
    width: 10%;
}


.td-btns{
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    cursor: pointer;
}

.mas{
    background-color: var(--primary-color);
}

.mas:hover{
    background-color: var(--secundary-color);
}

.menos{
    background-color: rgb(246, 82, 12);
}

.menos:hover{
    background-color: red;
}

.btn-vaciar{
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.btn-vaciar:hover{
    background-color: var(--secundary-color);
}

.suma-totales{
    font-size: 20px;
    text-align: right;
}

/*MEDIA QUERY PARA RESOLUCIONES DE PANTALLA MEDIANAS*/
@media only screen and (min-width: 577px) and (max-width: 992px){
    body{
        font-size: 14px;
    }

    main{
        display: inline-block;
    }

    section{
        display: inline-block;
    }

   .card{
     width: 220px;
   } 

    .card img{
        width: 180px;
        height: 180px;
    }

    .card .descripcion{
        height: 60px;
    }

    th{
     font-size: 20px;
    }

    td{
        font-size: 15px;
    }

    .suma-totales{
        font-size: 15px;
    }

    }

    .mensaje-exitoso{
        width: 100%;
        height: 40px;
        background-color: var(--secundary-color);
        display: flex;
        justify-content: start;
        align-items: center;
        margin: 0;
        padding: 10px;
        position: fixed;
        top: 0;
        z-index: 1;
        transition: all ease-in .3s;
    }

    .mensaje-exitoso p{
        font-size: 20px;
        color: white;
    }


/*MEDIA QUERY PARA RESOLUCIONES DE PANTALLA PEQUEÑAS*/
@media only screen and (max-width: 576px) {
    body {
      display: flex;
      flex-direction: column;
    }

    header{
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        position: sticky;
        top: 0;
    }

    section{
        display: none;
        width: 95%;
    }
    .contenedor-productos{
        justify-content: center;
      }

    .card{
        width: 300px;
        margin-bottom: 20px;
    }  

    .card img{
        width: 220px;
        height: 220px;
    }

    .card .descripcion{
        height:50px;
    }

    section{
        width: 100%;
        padding-left: 10px;
    }

    h1{
        font-size: 25px;
    }

    h2{
        font-size: 18px;
    }

    .btn-carrito{
        display: inline;
        border: 2px solid rgb(255, 255, 255,0);
        border-radius: 10px;
        padding: 5px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-image: url(./assets/icons8-shopping-trolley-64.png);
        background-position: center;
        background-size: 50px;
        background-repeat: no-repeat;
    }

    .btn-carrito:hover{
        border: 2px solid rgb(255, 255, 255,1);
    }
    .btn-cerrar{
        display: inline;
        border: 2px solid rgb(255, 255, 255,0);
        border-radius: 10px;
        padding: 5px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-image: url(./assets/icons8-x-64.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .btn-cerrar:hover{
        border: 2px solid rgb(255, 255, 255,1);
   
  }

  .contador-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background-color: var(--secundary-color);
    color: white;
    border-radius:50%;
    position: absolute;
    top: 15px;
    right: 30px;
    opacity: .9;
  }

  .btn-regresar{
        display: inline;
        border-radius: 50px;
        padding: 5px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background-color: var(--primary-color);
        background-image: url(./assets/icons8-arriba-48.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        bottom: 20px;
        right: 10px;
        z-index: 2;
        transition: all ease .5s;
  }

  .btn-regresar:hover{
    background-color: var(--secundary-color);
  }



}
